{{range gets "/services/*"}}
  {{$data := json .Value}}
  {{if $data.location}}
    upstream {{$data.name}} {
      server {{$data.address}};
    }
  {{end}}  
{{end}}

server {
  server_name {{getv "/nginx/domain" "default"}};
  client_max_body_size {{getv "/nginx/max_body_size" "4096m"}};

  {{if exists "/nginx/certs/"}}
    listen 443 ssl;
    ssl on;
    ssl_certificate /etc/nginx/certs/main.pem;
    ssl_certificate_key /etc/nginx/certs/main.key;
  {{end}}

  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

  {{range gets "/services/*"}}
    {{$data := json .Value}}
    {{if $data.location}}
      location {{$data.location}} {
        {{if $data.rootPath}}
          proxy_pass http://{{$data.name}}{{$data.rootPath}};
        {{else}}
          proxy_pass http://{{$data.name}}/;
        {{end}}  
      }
    {{end}}
  {{end}}
}